<div class="fixed-top m1-0">
    <div id="construction-header" class="my-0">
        <p class="header-text-lg mb-1 mt-0 text-center">
            This site is still under construction!
        </p>
        <p class="header-text-sm mt-1 mb-0 text-center">
            Some links may be broken. We're working on it!
        </p>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">
            <p class="navbar-title my-1">
                Iota Kappa
            </p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="our-frat.html">Our Fraternity</a>
                        <a class="dropdown-item" href="our-chapter.html">Our Chapter</a>
                        <a class="dropdown-item" href="what-we-do.html">What we do</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Membership
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Family Trees</a>
                        <a class="dropdown-item" href="becoming-a-member.html">Becoming a Member</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="service.html">Service</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="calendar.html">Calendar</a>
                        <a class="dropdown-item" href="member-resources.html">Member Resources</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="ml-2 btn btn-outline-success">Donate</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Margin between navbar and content -->
<div class="navbar-margin"></div>